{% extends "menu_almacen.html" %}
{% block contenedor %}
<h1 class='text-center my-5'>Registrar Horario Personal</h1>
<div class='container my-5'>
    <form action="/logica_registrar_horario/" method="POST">{% csrf_token %}
        <div class="mb-3">
            <label for="" class="form-label">Id Registro</label>
            <input type="text" class="form-control" id="textId" name="textId">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Nombre Tecnico</label>
            <input type="text" class="form-control" id="textNombre" name="textNombre">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Fecha Registro</label>
            <input type="date" class="form-control" id="textFechaRegistro" name="textFechaRegistro">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Hora Inicio</label>
            <input type="time" class="form-control" id="textHoraInicio" name="textHoraInicio">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Hora Salida</label>
            <input type="time" class="form-control" id="textHoraSalida" name="textHoraSalida">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Comentario</label>
            <input type="text" class="form-control" id="textComentario" name="textComentario">
        </div>
        <button type="submit" class="btn btn-primary">Registrar Horario</button>
    </form>
</div>
{% endblock contenedor %}
