{% extends "menu_almacen.html" %}
{% block contenedor %}
<h1 class='text-center my-5'>TABLA HORARIO</h1>
<div class='container my-5'>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora Inicio</th>
            <th scope="col">Hora Final</th>
            <th scope="col">Comentario</th>
            <th scope="col">Opcion 1</th>
            <th scope="col">Opcion 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for x in tabla_horario %}
                    <td>{{ x.Id_tabla_horario }}</td>
                    <td>{{ x.Nombre_tabla_horario }}</td>
                    <td>{{ x.Fecha_inicio_horario }}</td>   
                    <td>{{ x.Hora_inicio_horario }}</td>
                    <td>{{ x.Hora_final_horario }}</td>
                    <td>{{ x.Comentario_horario }}</td>
                    <td><a class='btn btn-danger' href='#'>Eliminar</a></td>
                    <td><a class='btn btn-warning' href='#'>Actualizar</a></td>
                </tr>
            {% endfor %}
    </tbody>
    </table>
</div>
{% endblock contenedor %}
