{% extends "menu_almacen.html" %}
{% block contenedor %}
<h1 class='text-center my-5'>TABLA HORARIO</h1>
<div class='container my-5'>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora Inicio</th>
            <th scope="col">Hora Final</th>
            <th scope="col">Comentario</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    </table>
</div>
{% endblock contenedor %}
